.row
  .tim-typo.text-left.col-12
    h1
      strong Reach Out Today
    p.mt-3
      |SIMS Advisory assists in the assessment of the effectiveness of the
      |governing body. Enter your email address and we'll contact you
  .col-md-9.col-sm-12
    form#contact-form(method="POST" action!="<?php echo base_url('contact-form');?>")
      .row
        #name-form-group.form-group.col-md-6.my-3.col-sm-12.mx-sm-auto
          input.form-control#name(type="text" name="name" placeholder="Name...")
          span.help-block.px-2 enter a valid name
        #surname-form-group.form-group.col-md-6.my-3.col-sm-12.mx-sm-auto
          input.form-control#surname(type="text" name="surname" placeholder="Surname...")
          span.help-block.px-2 enter a valid surname
      .row
        #email-form-group.form-group.col-md-8.my-3.col-sm-12.mx-sm-auto
          input.form-control#email(type="email" name="email" placeholder="Email...")
          span.help-block.px-2 enter a valid email
        .from-group.col-md-4.my-3.col-sm-12.mx-sm-auto
          button#contact-btn.btn.btn-block(type="submit") Submit
