.row
  .tim-typo.text-left.col-12
    h1
      strong Reach Out Today
    p.mt-3
      |SIMS Advisory assists in the assessment of the effectiveness of the
      |governing body.Enter your e-mail address and we'll contact you
  .col-md-9.col-sm-12
    form#contact-form
      .row
        .form-group.col-md-6.my-3.col-sm-12.mx-sm-auto
          input.form-control#name(type="text" name="name" placeholder="Name...")
        .form-group.col-md-6.my-3.col-sm-12.mx-sm-auto
          input.form-control#surname(type="text" name="name" placeholder="Surname...")
      .row
        .form-group.col-md-8.my-3.col-sm-12.mx-sm-auto
          input.form-control#email(type="email" name="name" placeholder="Email...")
        .from-group.col-md-4.my-3.col-sm-12.mx-sm-auto
          button#contact-btn.btn.btn-block(type="submit") Submit
