.container
  nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="index.html")
          .logo-container
            .logo.p-3
              img(src="./assets/img/logo.png")
            .brand
              |SIMSCONSULTANCY

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="index.html") Home
          li
            a(href="service.html") Services
          li
            a(href="esg.html") ESG
          li
            a(href="about.html") About Us
          li
            a(href="contact.html") Contact Us
