extends ./includes/base.pug

block navbar
  #navbar-full
    include includes/navbar-light.pug

    .jumbotron.py-5(style="background-image: url('./assets/img/contact-us-cover.png'); background-position:center center;")
      .container
        .row.mb-4.p-md-5.text-left.text-black.pb-sm-5(style="background-color:transparent;")
          .col-md-12.px-4.ml-5.d-flex.flex-column.col-sm-12
             h1.mb-4
               strong.d-sm-block.w-100 Contact Us
          .col-md-3.px-5.ml-5.d-flex.flex-column.col-sm-12
            h2 Address
            p 17 Edenvalk Crescent
              br
              |Liefde en Vrede
              br
              |Mulbarton 2198
          .col-md-3.px-5.ml-5.d-flex.flex-column.col-sm-12.mx-sm-1
            h2 Phones
            p +27 11 432 3386
          .col-md-3.px-5.ml-5.d-flex.flex-column.col-sm-12.mx-sm-1
            h2 Email
            p info@simsconsultancy.co.za

block content
  main.main.p-4.bg-dark.text-white
    .container.text-white
      include includes/contact-form.pug
